.toolbar{
    width: 100vw;
    height: 30px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 3px;
    border: 1px solid #666;
    border-radius: 3px;
    margin: 2px;
    position: relative;

    button{
        margin: 2px;
    }
}